[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "{{project_name}}"
version = "0.0.1"
description = "{{description}}"
readme = "README.md"
requires-python = ">=3.8"
license = {file = "LICENSE"}
authors = [
    {name = "{{author}}" }
]
keywords = ["Snek5000", "Fluidsim", "Nek5000", "CFD"]
dependencies = [
    "snek5000 >= 0.9.0"
]

[project.optional-dependencies]
tests = [
    "nox",
    "pytest",
    "pytest-cov"
]

[project.entry-points."snek5000.solvers"]
{{short_name}} = "{{package_name}}.solver"

[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.package-data]
{{package_name}} = ["*.usr.f", "*.par.cfg", "Snakefile", "etc/*.yml"{{ ', "toolbox/*"' if kth_framework }}]

[tool.coverage.run]
source = ["{{package_name}}", "./tests"]
data_file = ".coverage/coverage"
omit = [
    "*/try_*.py",
    "*/_old_*.py",
    "tests/test_slow_*.py",
]

[tool.coverage.report]
show_missing = true
exclude_lines = [
    "if __name__ == .__main__.:",
    'if "sphinx" in sys.modules:',
    "raise ValueError",
    "raise NotImplementedError",
    "except KeyError:",
    "except ImportError:",
    "except AttributeError:",
    "except NotImplementedError:"
]

[tool.coverage.html]
directory = ".coverage/html"
