# {{project_name}}

A Nek5000 {{short_name}} solver adapted for a workflow using [Snek5000].
{{description}}

## Install

```sh
pip install {{package_name}}
```

For more details, see https://snek5000.readthedocs.io/en/latest/install.html

## Tests

```sh
pip install '.[tests]'
# Run simple tests: including compilation
pytest
# Run slow tests: launches simulation
pytest --runslow
```

[snek5000]: https://github.com/snek5000/snek5000
